// =============================
// Quiz
// =============================

.Quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Quiz-question {
}

.Quiz-choices {
  display: flex;
  justify-content: space-evenly;
}
