// =============================
// WIP (Work in progress)
// =============================

.Main {
  height: 100%;
  width: 100%;
  background: #{$gradient-end}; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #{$gradient-start},
    #{$gradient-end}
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #{$gradient-start},
    #{$gradient-end}
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Content {
  position: relative;
  padding-top: $headerHeight;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
